<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/business-casual.css" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

<title>Beer Details and Reviews</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li id="searchitem">
					<form class="navbar-form" action="/APIResults" id="searchdiv"
						role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for beer!" 
								name="beerInfo">
							<div class="input-group-btn">
								<button class="btn btn-search" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</li>
				<li id="homeLogo"> <div id="logodiv"><a href="/"><img src="img/TapThisBanner.png" style="width: 400px; "></a></div></li>

				<li id="hello">Hello, 
					<span id="userinfo" th:text="${session.user.userName}"></span>
					<span>!</span>
				</li>
				<li id="rightSide">
					<form class="navbar-form" action="/userlogout"
							method="POST" id="logoutform">
						<button id="login" class="btn btn-danger" type="submit">Logout</button>
					</form>
				</li>					
				<li id="edit">
					<form class="navbar-form" action="/updateUser">
						<button id="updateProfile" class="btn btn-success" type="submit">Edit Profile</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>

		<!-- div for displaying reviews -->
		<div id="revWrapper" class='col-md-6' style="padding: 50px;">
				<div class="row">
					<div class="box" style="border: 2px solid black;">
					<h3 align="center">Other Users Talking About This Beer</h3>
					<br>
					<br>
						<div id="eachReview" th:each="review : ${reviews}" style="padding: 25px; border-top: 1px solid black;">
							<div>
								<strong id="thymeleafBS">Reviewer: </strong>
								<span th:text="${review.userName}"></span>
								<br>
								<strong id="thymeleafBS">Hops Rating: </strong>
								<span th:text="${review.hopsRating}"></span>
								<br>
								<strong id="thymeleafBS">Malt Rating: </strong>
								<span th:text="${review.maltRating}"></span>
								<br>
								<strong id="thymeleafBS">Overall Beer Rating: </strong>
								<span th:text="${review.beerRating}"></span>
								<br>
								<strong id="thymeleafBS">Reviewer's Comment: </strong>
								<span th:text="${review.reviewComment}"></span>
							</div>
						</div>
					</div>
				</div>
		</div>

	

	<div id="infoReview" class='col-md-6'
		style="padding: 50px;">

		<!-- div to display API data -->

		<div id="wrapper"
			style="padding: 25px; background-color: orange; border: 1px solid black">
			<h3 align="center">Your Selected Beer</h3>
			<hr>

			<!-- closing for beerInfo wrapper div -->
		</div>
		<hr>
		<div id="revForm"
			style="padding: 25px; background-color: orange; border: 1px solid black;">
			<h3 align="center" style="font-weight: 900">Review This Beer</h3>
			<hr>
			<form action="/addReview" method="POST" class="form-horizontal"
				id="beerReviewForm">
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" id="userName"
							name="userName" th:value="${session.user.userName}" required>
					</div>
				</div>
				<div class="form-group">
					<label for="beerName" class="col-sm-2 control-label">Beer</label>
					<div class="col-sm-10">
						<input readonly type="text" class="form-control" id="beerName"
							name="beerName" placeholder="Beer" required>
					</div>
				</div>
				<div class="form-group">
					<label for="breweryName" class="col-sm-2 control-label">Brewery</label>
					<div class="col-sm-10">
						<input readonly type="text" class="form-control" id="breweryName"
							name="breweryName" placeholder="Brewery" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" readonly type="text" class="form-control" id="beerInfo"
							name="beerInfo" placeholder="BeerInfo" required>
					</div>
				</div>
				<div class="form-group">
					<label for="reviewComment" class="col-sm-2 control-label">Your
						Review</label>
					<div class="col-sm-10">
						<textarea type="review" class="form-control" id="reviewComment"
							name="reviewComment" placeholder="Your Review Here!" required
							rows="6" cols="40" maxlength="256"></textarea>
					</div>
				</div>
				<div>
					<label for="hopsRating">Hop Strength</label> 
					<select name="hopsRating" id="hopsRating">
						<option value="1">No Hoppiness</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">Extremely Hoppy</option>
					</select>
				</div>
				<div>
					<label for="maltRating">Maltiness</label> 
					<select name="maltRating" id="malt">
						<option value="1">No Maltiness</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">Extremely Malty</option>
					</select>
				</div>
				<div>
					<label for="beerRating">Overall Beer Rating</label> 
					<select name="beerRating" id="beerRating">
						<option value="Poor">Poor</option>
						<option value="Fine">Fine</option>
						<option value="Neutral">Neutral</option>
						<option value="Good">Good</option>
						<option value="Outstanding">Outstanding</option>
					</select>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="newReview" type="submit" value="Submit"
							class="btn btn-default">Submit Review</button>
					</div>
				</div>
			</form>
			<!-- closing div for revFrom -->
		</div>
		<!-- closing of div for beer info & reviews/form class="row"-->
	</div>




	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script>
		$(function() {

			// retrieves params passed from APIResults page for selected beer from user
			function $_GET(param) {
				var vars = {};
				window.location.href.replace(location.hash, '').replace(
						/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
						function(m, key, value) { // callback
							vars[key] = value !== undefined ? value : '';
						});
				if (param) {
					return vars[param] ? vars[param] : null;
				}
				return vars;
			}

			// runs API call off of passed params from selection on APIResults page 
			$
					.get(
							"https://api.untappd.com/v4/search/beer?q="
									+ $_GET("beerInfo")
									+ "&client_id=B2397B44662D900D4265BF03E035CE16D5CF4846&client_secret=2AE5A2667723D53FDDDCF2410EB5412F91FE433A",
							function(data) {

								//	console.log(JSON.stringify(data))

								$
										.each(
												data.response.beers.items,
												function(index, value) {

													//	var beerImg = value.beer.beer_label
													breweryLink = value.brewery.contact.url
													beerName = value.beer.beer_name
													breweryName = value.brewery.brewery_name
													var beerInfo = breweryName
															+ " " + beerName

													var list = "<div id='oneBeer'>";
										            list += "<ul style='list-style:none'>";
										            list += "<li align='center'>" + '<b>' + value.beer.beer_name + '</b>' + "</li>";
										            list += "<li align='center'>" + '<a href= "' + breweryLink +'">' + value.brewery.brewery_name +  '</a>' + "</li>";
										            list += "<li align='center'>" + '<img style="width:100px" src=' + value.beer.beer_label  + '>' + "</li>";
										            list += "<li align='center'>" + "<b>Abv : </b> " + value.beer.beer_abv + "</li>";
										            list += "<li align='center'>" + "<b>Style : </b> " + value.beer.beer_style + "</li>";
										            list += "<li align='center'>" + "<b>Beer Description:</b> " + value.beer.beer_description + "</li>";
										            list += "<li align='center'>" + "<b>Brewing Location: </b>" + value.brewery.location.brewery_city+ ", " + value.brewery.location.brewery_state + "</li>"
										            list += "</ul><br></div>";
										            $("#wrapper").append(list);
										            $("#beerName").val(value.beer.beer_name);
										            $("#breweryName").val(value.brewery.brewery_name);
										            $("#beerInfo").val(value.brewery.brewery_name + " " +value.beer.beer_name).hide();
										            // hides the UID input field in the form. Will need to add to this function to populate this hidden field with data from mySQL table
										            $("#reviewUserId").hide();
										                
										                // displays the first div generated from parsed API data
										                $.first("#oneBeer").display();
										            
										            }); 
										    }, "json" )

		});
		
	</script>
 
</body>
</html>
