<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Profile Page</title>
	
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link href="css/business-casual.css" rel="stylesheet">
	
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
		rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
		rel="stylesheet" type="text/css">

</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li id="searchitem">
					<form class="navbar-form" action="/APIResults" id="searchdiv"
						role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for beer!" 
								name="beerInfo">
							<div class="input-group-btn">
								<button class="btn btn-search" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</li>
				<li id="homeLogo"> <div id="logodiv"><a href="/"><img src="img/TapThisBanner.png" style="width: 400px; "></a></div></li>

				<li id="hello">Hello, 
					<span id="userinfo" th:text="${session.user.userName}"></span>
					<span>!</span>
				</li>
				<li id="rightSide">
					<form class="navbar-form" action="/userlogout"
							method="POST" id="logoutform">
						<button id="login" class="btn btn-danger" type="submit">Logout</button>
					</form>
				</li>					
				<li id="edit">
					<form class="navbar-form" action="/updateUser">
						<button id="updateProfile" class="btn btn-success" type="submit">Edit Profile</button>
					</form>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="box">
				<div class="col-lg-12 text-center">
					<h2>Your profile</h2>
					<h3>You can update any information below</h3>
					<form class="form-horizontal" id="updateUserForm"
						action="/updateUser" method="POST">
						<input type="hidden" name="userId" id="userId"
							th:value="${session.user.userId}">
						<div class="form-group">
							<label for="userName" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="userName"
									name="userName" required th:value="${session.user.userName}">
							</div>
						</div>
						<div class="form-group">
							<label for="firstName" class="col-sm-2 control-label">First
								Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="firstName"
									name="firstName" required th:value="${session.user.firstName}">
							</div>
						</div>
						<div class="form-group">
							<label for="lastName" class="col-sm-2 control-label">Last
								Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="lastName"
									name="lastName" required th:value="${session.user.lastName}">
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">email
								Address</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="email" name="email"
									required th:value="${session.user.email}">
							</div>
						</div>
						<div class="form-group">
							<label for="phone" class="col-sm-2 control-label">Phone</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" id="phone" name="phone"
									required th:value="${session.user.phone}">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="password"
									name="password" aria-describedby="helpBlock" required
									th:value="${session.user.password}"> <span
									id="helpBlock" class="help-block">Password should be at
									least 8 characters, 1 upppercase, 1 lowercase, 1 special
									character, and one number</span>
							</div>
						</div>
						<div class="form-group">
							<label for="password_verify" class="col-sm-2 control-label">Password
								Verify</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="password_verify"
									name="password_verify" aria-describedby="helpBlock" required
									th:value="${session.user.password}"> <span
									id="helpBlock" class="help-block">Passwords must match</span>
							</div>
						</div>
						<div class="form-group">
							<div>
								<div class="radio" style="text-align: left; margin-left: 20%;">
									<label><input type="radio" name="dateOfBirth"
										id="over21" value="1" checked required
										th:value="${session.user.dateOfBirth}">I Am Over 21</label>
									<label><input type="radio" name="dateOfBirth"
										id="under21" value="0" required
										th:value="${session.user.dateOfBirth}">I Am Under 21</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div style="text-align: left; margin-left: 20%">
								<button id="updateUser" type="submit" value="Submit"
									class="btn btn-default">Save Profile</button>
							</div>
						</div>
					</form>
				</div>
				<form class="form-horizontal" id="updateUserForm"
					action="/deleteUser" method="POST">
					<input type="hidden" name="userId" id="userId"
						th:value="${session.user.userId}">
					<div class="form-group">
						<div style="text-align: left; margin-left: 21%;">
							<button id="updateUser" type="submit" value="Submit" class="btn btn-danger">Deactivate Account</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="box">
				<div class="col-lg-12">
					<hr>
					<h1 class="intro-text text-center">
						<strong> Your Reviews </strong>
					</h1>
					<hr>
				</div>
				<div class="col-md-12" style="margin-left:25%">
					<form action="/deleteReview" method="POST" id="eachReview" th:each="review : ${reviews}">
						<input type="hidden" name="reviewId" id="reviewId"
						th:value="${review.reviewId}">
					
						<h4 id="thymeleafBS"><u>Brewery Name:</u>
							<span th:text="${review.breweryName}"></span>
						</h4>
						<h4 id="thymeleafBS"><u>Beer Name:</u>
							<span th:text="${review.beerName}"></span>
						</h4>
						<h4 id="thymeleafBS"><u>Hops Rating:</u>
							<span th:text="${review.hopsRating}"></span>
						</h4>
						<h4 id="thymeleafBS"><u>Malt Rating:</u>
							<span th:text="${review.maltRating}"></span>
						</h4>
						<h4 id="thymeleafBS"><u>Overall Beer Rating:</u>
							<span th:text="${review.beerRating}"></span>
						</h4>
						<h4 id="thymeleafBS"><u>Reviewer's Comment:</u>
							<span th:text="${review.reviewComment}"></span>
						</h4>
						<div class="form-group">
							<div style="text-align: left; margin-left: 21%;">
								<button id="deleteReview" type="submit" value="Submit" class="btn btn-danger">Delete Review</button>
							</div>
						</div>
						<br>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!-- footer is needed -->

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>


</body>

</html>
